<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>716109991733-j2r4nle57vdarn7mmlrc60tj5b302jbr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.716109991733-j2r4nle57vdarn7mmlrc60tj5b302jbr</string>
	<key>API_KEY</key>
	<string>AIzaSyAPZlpePBevC7hMAyY31Hp1ZgpRuclE1Oc</string>
	<key>GCM_SENDER_ID</key>
	<string>716109991733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ali.Match-Match</string>
	<key>PROJECT_ID</key>
	<string>match-match-a9cda</string>
	<key>STORAGE_BUCKET</key>
	<string>match-match-a9cda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:716109991733:ios:36db21f07ec0a1af5c467c</string>
	<key>DATABASE_URL</key>
	<string>https://match-match-a9cda.firebaseio.com</string>
</dict>
</plist>